.footer{
    background: black;
    padding: rem(64);

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__socials{
            svg{
                fill: $grey;
            }
            margin-bottom: rem(64);
        }
        &__links{
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                li{
                    color: $grey;
                }
                li+li{
                    margin-left: rem(64);
                }
            }
        }
    }
}