@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(49, 49, 49);
}

ul{
    list-style-type: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

@function rem($size, $context: 16){
    @return $size / $context + rem;
}

@function em($size, $context: 16){
    @return $size / $context + em;
}

$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

// Mixin de media-querie

@mixin device($size){
    @if $size == desktop{
        @media screen and (min-width: #{$l-device}){
            @content;
        }
    }
    @else if $size == tablet{
        @media screen and (min-width: #{$m-device}) and (max-width: #{$l-device - 1}){
            @content;
        }
    }

    @else if $size == phone{
        @media screen and (max-width: #{$m-device - 1}){
            @content;
        }
    }
}

// Colors

$grey: #f8f8f8;
$dark-blue: #0e2333;
$light-blue: #333333;

body{
    background-color: $grey;
    min-height: 100vh;
}

.container{
    max-width: rem(900);
    margin: 0 auto;
    @include device(phone){
        max-width: rem(350);
        margin: 0 rem(32);      
    }
}

.parallax-window {
    min-height: rem(400);
    background: transparent;
}